
html{
    background-color: black;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    overflow-x: hidden;
    color: rgb(250, 250, 250);
}

body{
    margin: 0px;
    background-image: url(../images/bodyBackground.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
}

p, h1, h2, h3, h4, h5, h6{
    margin: 0px;
}

.svg{
    filter: invert(100%);
}

header{
    position: fixed;
    z-index: 1000;
    min-height: 80px;
    width: 100%;
    height: 10vh;
    background-color: rgba(0, 0, 0, 0);
    transition: 0.4s;
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
}
.scrolled {
    background-color: rgba(0, 0, 0, 1);
}

nav{
    display: flex;
    justify-content:center;
    align-items: center;
    gap: 50px;
    grid-column: 2;
}
nav button{
    border: 0px;
    width: 150px;
    height: 50px;
    font-size: 1.3em;
    font-weight: bold;
    background-color: transparent;
    color: rgb(250, 250, 250);
}
nav button:hover{
    cursor: pointer;
    color: rgb(55, 180, 255);
    font-size: 1.5em;
    transition: 0.2s;
}
nav button:active{
    color: rgb(71, 71, 71);
    font-size: 1.5em;
    transition: 0s;
}

#homeButton{
    justify-self: end;
    align-self: center;
    margin-right: 10%;
    background-color: transparent;
    color: rgb(250, 250, 250);
    font-size: 1.5em;
    border: none;
    width: 50px;
    height: 40px;
    cursor: pointer;
}
#homeButton:hover #home_svg{
    filter: invert(62%) sepia(32%) saturate(2277%) hue-rotate(174deg) brightness(99%) contrast(103%);
}
#homeButton:active{
    color: rgb(71, 71, 71);
    transition: 0.2s;
}
#home_svg{
    width: 50%;
}

footer{
    width: 100%;
    height: 80px;
    background-color: black;
    color: rgb(89, 89, 89);
}
footer p{
    text-align: center;
    padding-top: 30px;
}

.hidden{
    display : none !important;     
}

@media (max-width: 767px){
    header{
        display: flex;
        justify-content: end;
        align-items: center;
    }

    nav, #homeButton{
        display: none;
    }

    .mobile_nav_button {
        background-color: transparent;
        border: 0;
        width: 100px;
        height: 80%;
        cursor: pointer;
        margin-right: 20px;
    }
    .mobile_nav_button img{
        width: 100%;
        filter: invert(100%);
    }
    #bar_menu_close, #bar_menu_open{
        width: 80%;
        height: 50%;
    }
    #bar_menu_open{
        height: 70% !important;
    }

    .nav_menu_mobile{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        position: absolute;
        top: 0;
        width: 100%;
        height: 100vh;
        background-color: rgba(0, 0, 0, 0.8);
        backdrop-filter: blur(5px);
        -webkit-backdrop-filter: blur(5px);
        font-size: 1.3rem;
    }



}